<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aditya.vendicinefinal">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".aInitialScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bBluetoothPairedDeviceList"
            android:theme="@style/Base.Theme.AppCompat.Dialog.FixedSize" />
        <activity android:name=".dAllProducts" />
        <activity android:name=".eTabletsSelection" />
        <activity
            android:name=".hPopupEFG"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".iPopupOtherProducts"
            android:theme="@style/NoTitleDialog" />
        <activity android:name=".kFirstTimeMoney" />
        <activity android:name=".lNextTimeMoney" />
        <activity android:name=".cUserInitialScreen" />
        <activity
            android:name=".jPopupMessage"
            android:theme="@style/NoTitleDialog" />
        <activity android:name=".fNutribarsSelection" />
        <activity android:name=".gDrinksSelection"></activity>
    </application>

</manifest>